# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
*.apk
*.aab
*.keystore

# Kotlin
*.log

# OS
.DS_Store
Thumbs.db

# Node (se algum dia usarmos tooling JS)
node_modules/
